.formulate-input-group-repeatable-remove {
    height: 100% !important;
    top: 0 !important;
    right: 0 !important;
    border-radius: 0 !important;
    transition: width 0.2s ease-in-out !important;
    display: flex !important;
    align-items: center;
    justify-content: center;

    :before {
        left: 0 !important;
    }

    :after {
        left: 0 !important;
    }

}

.formulate-input-group-repeatable-remove:hover:after {
    left: unset !important;
}

.formulate-input-group-repeatable-remove:hover:before {
    left: unset !important;
}

.formulate-input-group-repeatable-remove:hover {
    width: 2.5% !important
}

.formulate-input-group-add-more {
    justify-content: center !important;

    // button:after {
    //   content: '';
    //   width: 0.75rem;
    //   background-color: white;
    //   position: absolute;
    //   height: 0.2rem;
    //   right: 25%;
    //   top: 55%;
    //   transform: rotate(90deg);
    //   transition: all 0.3s ease-in-out;
    // }

    // button:before {
    //   content: '';
    //   width: 0.75rem;
    //   background-color: white;
    //   position: absolute;
    //   height: 0.2rem;
    //   right: 25%;
    //   top: 55%;
    //   transform: rotate(180deg);
    //   transition: all 0.3s ease-in-out;
    // }

    // button:hover::after {
    //   // transform: rotate(45deg);
    //   // right: 40%;
    //   scale: 1.1;
    // }

    // button:hover::before {
    //   // transform: rotate(-45deg);
    //   // right: 15%;
    //   scale: 1.1;
    // }
}



.formulate-input-element--button {
    position: relative;
}


.langDescriptionInput {
    .formulate-input-group-repeatable {
        display: flex;
        flex-direction: column-reverse;
    }

    .inputTextfield {
        textarea {
            height: 15vh;
            border-radius: 0 0 5px 5px !important;
        }

        .formulate-input-wrapper {
            label {
                display: none;
            }
        }

        span {
            display: none !important;
        }

        .formulate-input-errors {
            display: flex;
            align-items: baseline;
            justify-content: flex-end;
        }
    }

    .selectLangFieldScnd {
        width: 100%;

        div:before {
            display: none !important
        }

        .formulate-input-element--select {
            display: flex;
            border-radius: 5px 5px 0 0 !important;
            border: 1px solid #cecece;
            border-bottom: none;
            padding-left: 2.5em !important;
            margin-bottom: 0 !important;
        }

        select {
            cursor: pointer;
            border: none !important;
            font-size: 0.8em !important;
            padding-right: 0 !important;

        }

        .formulate-input-element--select:after {
            content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='lightgrey' class='bi bi-globe-americas' viewBox='0 0 16 16'><path d='M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z'/></svg>");
            width: 24px;
            height: 24px;
            position: absolute;
            top: 20%;
            left: 1.5%;
        }

        .formulate-input-element--text {
            margin-bottom: 0 !important;

        }

        .formulate-input-help {
            margin-top: 0.5rem;
        }

        .infoButton {
            display: none !important
        }

        .formulate-input-help {
            display: none !important;
        }
    }

    .selectLangField {
        width: 100%;

        span {
            display: none !important;
        }

        div:before {
            display: none !important
        }

        .formulate-input-element--select {
            display: flex !important;
            border-radius: 5px 5px 0 0 !important;
            border: 1px solid #cecece;
            border-bottom: none;
            padding-left: 2.5em !important;
            margin-bottom: 0 !important;
        }

        select {
            cursor: pointer;
            border: none !important;
            font-size: 0.8em !important;
            padding-right: 0 !important;

        }

        .formulate-input-element--select:after {
            content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='lightgrey' class='bi bi-globe-americas' viewBox='0 0 16 16'><path d='M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z'/></svg>");
            width: 24px;
            height: 24px;
            position: absolute;
            top: 20%;
            left: 1.5%;
        }

        .formulate-input-element--text {
            margin-bottom: 0 !important;

        }

        .formulate-input-help {
            margin-top: 0.5rem;
        }

        .infoButton {
            display: none !important
        }

        .formulate-input-help {
            display: none !important;
        }
    }
}

.langStringInput {
    .formulate-input-group-repeatable {
        display: flex;
        flex-direction: row-reverse;
    }

    .inputTextfield {
        .formulate-input-element--text {
            input {
                height: 45px;
            }
        }

        label {
            display: none !important;
        }

        .btn {
            display: none !important;
        }

        input {
            border-left: none !important;
            border-radius: 0 5px 5px 0 !important;
        }

        span {
            display: none !important;
        }

        .formulate-input-help {
            display: none !important;
        }

        .formulate-input-errors {
            display: flex;
            align-items: baseline;
            justify-content: flex-end;
        }
    }

    .selectLangField {
        .formulate-input-element--select {
            height: 45px;
        }

        .formulate-input-error {
            margin-top: 1.9rem;
        }

        width: 20%;

        label {
            display: none !important;
        }

        span {
            display: none !important;
        }

        div:before {
            display: none !important
        }

        .formulate-input-element--select {
            display: flex !important;
            border-radius: 5px 0 0 5px !important;
            border: 1px solid #cecece;
            padding-left: 2.5em !important;

        }

        select {
            cursor: pointer;
            border: none !important;
            font-size: 0.8em !important;
            padding-right: 0 !important;

        }

        .formulate-input-element--select:after {
            content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='lightgrey' class='bi bi-globe-americas' viewBox='0 0 16 16'><path d='M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z'/></svg>");
            width: 24px;
            height: 24px;
            position: absolute;
            top: 20%;
            left: 10%;
        }

        .formulate-input-element--text {
            margin-bottom: 0 !important;

        }

        .formulate-input-help {
            margin-top: 0.5rem;
        }

        .infoButton {
            display: none !important
        }

        .formulate-input-help {
            position: absolute;
        }
    }


}

.formulate-form {
    button {
        border-radius: 5px !important;
        font-size: 1em !important;
        transition: all 0.3s ease-in-out;
    }
}

.formulate-input-element--conditional-input,
.formulate-input-element--autocomplete-input,
.formulate-input-group-repeatable {
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 1em 3em 1em 1em;
    margin-bottom: 0.5rem !important;
}

.property,
.selected-value {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

.form-container {
    background-color: #efefef;
    padding-top: 0 !important;
}
.startEndDate{
    .formulate-input-group-repeatable{
        justify-content: space-between;
    }
   
}
// #subStepperBox {
//     position: sticky;
//     top: 155px;
//     z-index: 10;
//     width: 100%;
//     padding: 0 10%;
  
//     .step-progress__step {}

//     .step-progress__bar {
//         border-top: none !important;
//     }

//     .step-progress__step--active {
//         .step-progress__step-label {
//                 background-color: lightsteelblue;
//         }

//     }
// }

#nav {
    .right-form-nav {

        button,
        label {
            transition: all 0.1s ease-in-out;
        }

        label:hover,
        button:hover {
            background-color: #196fd2 !important;
            transform: scale(97%);

        }
    }

    .delDisBtn {
        button:hover {
            background-color: #B30519 !important;
            transform: scale(97%);
        }

    }

    .left-form-nav {
        button {
            transition: all 0.1s ease-in-out;
        }

        button:hover {
            transform: scale(97%);
            border: 1px solid red;
            // box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
        }
    }
}

.tempResWrapper {
    .formulate-input-group-repeatable {
        display: flex;
    }

    .formulate-input {
        margin: 0 6px;
    }
}