/* Theme File for customization of Piveau */

/* 
Dataset Details 

This page contains six different Vue.js components. (From top to bottom)

- Datasetdetailsnavigation
- Datasetdetailsheader
- Datasetdetailsdataset
- Distributions
- Datasetdetailsfeatures (following are sub components)
    - Keywords
    - Categories
    - Subject
    - Documentation
    - Visualisations
    - Data Services
    - Is Used By
    - Related Resources
    - Dataset Extent
    - Additional Information
- Datasetdetailscategories
- Datasetdetailsquality

*/

/* ############### Datasetdetails Global ############### START ###############*/

/* Could put something like Distribution, Documentation, (Visualisations?) Description and blue buttons */

/* ############### Datasetdetails Global ############### END ###############*/

/* ############### Datasetdetailsnavigation ############### START ###############*/

/*Main wrapper for the navigation part*/
.sub-navigation {
  ul {
      /*Contains <li> Tags of "Datasetdetailsnavigationpages.vue" & "Datasetdetailsnavigationlinks.vue"*/
  }

  .dropdown-menu {
      /*Contains <a> Tags - gets triggered when a certain <li> Element gets clicked*/
  }
}

/* ############### Datasetdetailsnavigation ###############  END  ###############*/

/* ############### DatasetdetailsHeader ###############     START ###############*/

/*Main wrapper for header of the dataset*/
.dsd-header {
  .dsd-header-title {
      .dsd-header-catalogue {
          .dsd-title-tag {
              /*Description Tag - normally "Dataset" Is this outdated? TODO*/
          }

          img {
              /* Displays the flag of the origin of the catalogue */
          }
      }

      h1 {
          /*Headline for the Dataset*/
      }

      .dsd-title-tag {
          /*Description Tag - normally "Dataset"*/
      }

      .dsd-header-info {
          /*Conatins everything underneath the header (e.g. Catalog/ Publisher/ Last update ) */
      }
  }

  .dropdown-menu {
      /*Contains <a> Tags - gets triggered when a certain <li> Element gets clicked*/
  }
}

/* ############### DatasetdetailsHeader ###############      END  ###############*/

/* ############### Datasetdetailsdataset ###############    START ###############*/

/*Main wrapper for the whole dataset*/
.dsd-dataset {
  .dsd-banners {
      /*Contains Text/ Icons - normally used to tell users thet the dataset got machine translated */
  }

  .dataset-description {
      /*contains paragraphs that hold the description of the Dataset*/
  }
}

/* ############### Datasetdetailsdataset ###############     END  ###############*/

/* ############### Distributions ###############    START         ###############*/

/*Main wrapper for the whole dataset*/
.dsd-distributions {
  .dsd-item {

      /* Confusing, maybe change the classname TODO */
      button {
          /* "Download All" Button in the header of the DSD-Distributions */
      }

      h2 {
          /* Header of distributions */
      }

  }

  /* Wrapper for the listed Distributions */
  .distributions {
      .distributions__item {
          /* Wrapper for one distribution item */
          .distribution-format {
              /* Icon with info about the format of the distribution */
          }

          .distribution-details {
              /* Wrapper for the details of one distribution */
              h3 {
                  /* Header of Distribution */
              }
              p {
                  /* Subtitle of the distribution */
              }

              .distribution-details-table {
                  /* Wrapper for distribution details */
                  tr {
                      td:first-child {
                          /* First column */
                          span {
                              /* Title of distribution detail */
                          }
                      }
                      td + td {
                          /* Second column */
                          a {
                              /* Link of distribution detail value */
                          }
                      }
                  }
              }
              .distribution-details-show-more {
                  float: right; /* Makes only the button clickable and not the full width below the table */
              }
          }

          .distribution-actions {
              /* Wrapper of distribution actions/buttons */
              .distribution-action {
                  /* Wrapper of button */
                  .dsd-action-button {
                      /* Button Download and Linked Data */
                  }
                  .dropdownMenu {
                      /* Button dropdown menu */
                      .dropdown-item {
                          /* Button dropdown item */
                          a {
                              color: var(--dark); /* Maybe define global */
                              &:hover {
                                  color: #000c39; /* Maybe define global */
                              }
                          }
                      }
                  }
              }
          }

      }

      .distributions__actions {
          /* Wrapper of show more distributions buttons */
          .distributions-show-more-button:nth-child(-n+2) {
              /* First two show more buttons */
              // background-color: #000c39;
          }
          .distributions-show-more-button:last-child {
              /* Last show more button */
          }
      }
  }
}

/* ############### Distributions ###############     END           ###############*/

/* ############### Datasetdetailsfeatures ###############    START         ###############*/

.dsd-features {
  /* Container of everything below distributions */
  .heading {
      /* Wrapper of headings */
      .dsd-feature-header-arrow-container {
      /* Wrapper of arrow icons */
          .dsd-feature-header-arrow {
              /* Arrow */
          }
      }
      .dsd-feature-title {
          /* Header title */
      }
  }
}

/* ############### Keywords + Categories ###############    START         ###############*/

/* Make general changes which should affect Keywords and Categories keyword items here */
.keywords__item {
  /* Wrapper of Keywords and Categories items */
  span {
      /* Keywords and Categories item */
      small {
          /* Text in Keywords and Categories item */
          color: #fff;
      }
  }
}

/* ############### Keywords + Categories ###############    END         ###############*/

/* ############### Keywords ###############    START         ###############*/

.dsd-keywords-feature {
  /* Wrapper of Keywords */
  .keywords__item {
      /* Wrapper of Keywords items */
      span {
          /* Keywords item */
          small {
              /* Text in Keywords item */
          }
      }
  }
}

/* ############### Keywords ###############    END         ###############*/

/* ############### Categories ###############    START         ###############*/

.dsd-categories-feature {
  /* Wrapper of Keywords */
  .keywords__item {
      /* Wrapper of Keywords items */
      span {
          /* Keywords item */
          small {
              /* Text in Keywords item */
          }
      }
  }
}

/* ############### Categories ###############    END         ###############*/

/* ############### Subject ###############    START         ###############*/

.dsd-subject-feature {
  /* Wrapper of Subject */
}

/* ############### Subject ###############    END         ###############*/

/* ############### Documentation ###############    START         ###############*/

.dsd-pages-feature {
  /* Wrapper of Documentation */
  ul {
      /* Wrapper of Documentation item container */
      li {
          /* Wrapper of item */
          .dsd-pages-item-format {
              /* Wrapper of format badge */
              div {
                  /* Format badge */
                  color: #fff;
              }
          }
          .dsd-pages-item-content {
              /* Wrapper of item content next to format badge */
              .dsd-pages-item-title {
                  /* Wrapper of title */
                  h3 {
                      /* Title */
                  }
              }
              .dsd-pages-item-description {
                  /* Wrapper of description */
                  span {
                      /* Wrapper of description */
                      small {
                          p {
                              /* Description */
                          }
                      }
                  }
              }
              .dsd-pages-button {
                  /* Wrapper of button area */
                  span {
                      /* Wrapper of access button */
                      .dsd-action-button {
                          /* Access button */
                      }
                  }
              }
          }
      }
  }
}

/* ############### Documentation ###############    END         ###############*/

/* ############### Visualisations ###############    START         ###############*/

.dsd-visualisations-feature {
  /* Wrapper of Visualisations Feature */
}

/* ############### Visualisations ###############    END         ###############*/

/* ############### Data Services ###############    START         ###############*/

.dsd-data-services-feature {
  /* Wrapper of Data Services */
}

/* ############### Data Services ###############    END         ###############*/

/* ############### Is used by ###############    START         ###############*/

.dsd-is-used-by {
/* Wrapper of Is Used By */
}

/* ############### Is used by ###############    END         ###############*/



/* ############### Related Resources ###############    START         ###############*/

.dsd-relations-feature {
  /* Wrapper of Related Resources */
  ul {
      /* Wrapper of item list */
      li {
          /* Wrapper of item */
          a{
              /* Item String */
          }
      }
  }
}

/* ############### Dataset Extent ###############    START         ###############*/

.dsd-map-feature {
  /* Wrapper of Map */
  #mapid {
      /* Map */
  }
}

/* ############### Dataset Extent ###############    END         ###############*/

/* ############### Additional Information ###############    START         ###############*/

.dsd-properties {
  /* Wrapper of Additional Information (Header, Item Container, Show More Button) */
  .additional-information {
      /* Wrapper of Additional Information item container */
      table {
          background-color: var(--light);
          tr {
              td:first-child {
                  /* First column */
                  span {
                      /* Title of item */
                  }
              }
              td + td {
                  /* Second column and style for single row entry */
                  a {
                  }
                  div {
                      /* Multiple row entries */
                  }
              }
          }
      }
  }
  .show-more {
      /* Show more button (global component). Style changes affect only this single button */
  }
}

/* ############### Additional Information ###############    END         ###############*/

/* ############### Datasetdetailsfeatures ###############    END         ###############*/

/* ############### Datasetdetailscategories ############### START ###############*/

.dsd-categories {
  /* Wrapper of Categories */
  h2 {
      /* Categories header */
  }
  .dsd-categories-items {
      /* Wrapper of Categories item container */
      div {
          /* Wrapper of item */
          background-color: var(--light);
          a {
              /* Item link */
          }
      }
  }
}

/* ############### Datasetdetailscategories ############### END ###############*/  

/* ############### Datasetdetailsquality ###############    START         ###############*/

.dsd-quality-container {
  /* Wrapper of Quality Page */
  .dsd-quality-header {
      /* Header (Metadata Quality & Distribution Quality) */
  }
  .dsd-quality-description {
      /* Wrapper of description (Metadata Quality & Distribution Quality) */
      p {
          /* Description (Metadata Quality & Distribution Quality) */
      }
  }
  .dsd-mq-cards {
      /* Wrapper of quality cards */
      .dsd-mq-card {
          /* Wrapper of quality card */
          .dimension-card {
              /* Wrapper of quality card */
              .card-header {
                  /* Wrapper of header */
                  h3 {
                      /* Header */
                  }
              }
              .dsd-mq-card-list {
                  /* Wrapper of quality card list */
                  .dsd-mq-card-list-item {
                      /* Wrapper of card list item */
                      .dsd-mq-card-list-item-left {
                          /* Wrapper of left card list content */
                          span, .dataset-space {
                              /* Icon and text */
                          }
                          .dsd-mq-card-info-icon {
                              /* Info Icon */
                          }
                      }
                      .dsd-mq-card-list-item-right {
                          /* Wrapper of right card list content */
                          .badge-no {
                              /* Badge no */
                          }
                          .badge-n-a {
                              /* Badge n/a */
                          }
                          .badge-yes {
                              /* Badge yes */
                          }
                          .badge-yes-interoperability {
                              /* Badge yes interoperability (use for badge color changes) */
                          }
                          .badge-yes-findability {
                              /* Badge yes findability (use for badge color changes) */
                          }
                          .badge-yes-accessibility {
                              /* Badge yes accessibility (use for badge color changes) */
                          }
                          .badge-yes-reusability {
                              /* Badge yes reusability (use for badge color changes) */
                          }
                          .badge-yes-contextuality {
                              /* Badge yes contextuality (use for badge color changes) */
                          }
                      }
                  }
              }
          }
          .dimension-accessibility {
              /* Accessibility card (use for background-color changes) */
          }
          .dimension-findability {
              /* Findability card (use for background-color changes) */
          }
          .dimension-interoperability {
              /* Interoperability card (use for background-color changes) */
          }
          .dimension-reusability {
              /* Reusability card (use for background-color changes) */
          }
          .dimension-contextuality {
              /* Contextuality card (use for background-color changes) */
          }
          .dimension-scoring {
              /* Scoring card (use for background-color changes) */
          }
      }
  }
  .dsd-dq-cards {
      /* Wrapper of all Distribution Quality cards */
      .dsd-dq-card {
          /* Wrapper of Distribution Quality card */
          .card-header {
              /* Wrapper of header */
              h3 {
                  /* Header */
                  svg {
                      /* Collapse arrow */
                  }
              }
          }
          .dsd-dq-card-body {
              /* Wrapper of card body */
              .dsd-dq-dimension {
                  /* Wrapper of dimension section (e.g. Accessibility, Reusability, ...) */
                  .dimension-headline {
                      /* Dimension headline */
                  }
                  .dsd-dq-dimension-items {
                      /* Wrapper of dimension items */
                      ul {
                          /* Wrapper of dimension items on left side */
                          li {
                              /* Wrapper of dimension item */
                              .dsd-dq-dimension-item-title {
                                  /* Dimension item title */
                              }
                              .badge-no {
                                  /* Badge no */
                              }
                              .badge-n-a {
                                  /* Badge n/a */
                              }
                              .badge-yes {
                                  /* Badge yes */
                              }
                          }
                      }
                      .dsd-dq-dimenison-items-left {
                          /* Wrapper of dimension items on left side */
                      }
                  }
              }
          }
      }
  }
}

/* ############### Datasetdetailsquality ###############    END         ###############*/